<button id="modal-button">Latest Courses</button>
<div id="myModal">
    <div class="modal-dialog">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" id="closeModal">Close</button>
        </div>
    </div>
</div>